@page "/"
@using System.Security.Claims

@inject CustomAuthenticationStateProvider customAuthStateProvider

<PageTitle>Home</PageTitle>

<h1 style="position: center">Benvenuto su Harmony @userName</h1>

@code {
    private string? userName = null;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await customAuthStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity!.IsAuthenticated)
        {
            userName = authState.User.Identity.Name;
        }
    }
}
